.container > .blocks {
   display: flex;     
   justify-content: center;
   align-items: center;
   width: 1000px;
}

.container > .blocks > .block {
    background-color: cadetblue;
    height: 200px;
    margin: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#block1 {
    flex-basis: 400px;
    /* flex-grow: 4; */
    flex-shrink: 2;
    /* order: 3; */
}

#block2 {
    flex-basis: 100px;
    /* flex-grow: 1; */
    /* flex-shrink: 4; */
    order: 2;
}

#block3 {
    flex-basis: 400px;
    /* flex-grow: 2; */
    /* flex-shrink: 2; */
    order: 1;
}